@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    --cor01: hsl(0, 0%, 100%);
    --cor02: hsl(178, 100%, 50%);
    --cor03: hsl(215, 51%, 70%);
    --cor04: hsl(215, 32%, 27%);
    --cor05: hsl(216, 50%, 16%);
    --cor06: hsl(217, 54%, 11%);

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-texto: "Outfit", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor06);
    font-family: var(--fonte-texto);
}

main{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}   

article{
    background-color: var(--cor05);
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px 20px var(--cor06);
}

section.box-img{ 
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

section > img.ethereum-img{
    display: block;
    width: 100%;
}

section.box-img::after{
    content: "";
    position: absolute;
    inset: 0;
}

section.box-img:hover::after{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icon-view.svg);
    background-color: hsla(178, 100%, 50%, 0.5);
}

h1{
    color: var(--cor01);
    padding: 15px 0px;
    font-size: 1.5em;
    font-weight: 500;
}

h1:hover{
    color: var(--cor02);
    cursor: pointer;
}

p.resume{
    color: var(--cor03);
    font-size: 18px;
    padding-bottom: 15px;
}

div.box-values{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 15px;
}

div.values{
    display: flex;
    flex-flow: row nowrap;
    gap: 4px;
}

div > p.ethereum-value{
    color: var(--cor02);
}

div > p.time-left{
    color: var(--cor03);
}

article > div.border{
    border-top: 1px solid hsla(215, 52%, 70%, 0.24);

}

section.footer-box{
    display: flex;
    flex-flow: row nowrap;

    padding-top: 15px;
    align-items: center;
    gap: 20px;
}

section > img.avatar-img{
    width: 15%;
    border: 1px solid var(--cor01);
    border-radius: 50%;
}

section > p.footer-text{
    color: var(--cor03);
}

span{
    color: var(--cor01);
    font-weight: 400;
}

span:hover{
    color: var(--cor02);
    cursor: pointer;
}





